[
    {
        "regexpString": "^/$",
        "classString": "it.unipr.aotlab.blogracy.web.resolvers.MainResolver",
        "startingParameters": []
    },
    {
        "regexpString": "^/main$",
        "classString": "it.unipr.aotlab.blogracy.web.resolvers.MainResolver",
        "startingParameters": []
    },
    {
        "regexpString": "^/user/([^/]*)$",
        "classString": "it.unipr.aotlab.blogracy.web.resolvers.UserResolver",
        "startingParameters": []
    },
    {
        "regexpString": "^/magnet/([^/]*)$",
        "classString": "it.unipr.aotlab.blogracy.web.resolvers.MagnetResolver",
        "startingParameters": ["${project.build.outputDirectory}/cache"]
    },
    {
        "regexpString": "^/post$",
        "classString": "it.unipr.aotlab.blogracy.web.resolvers.PostResolver",
        "startingParameters": []
    },
    {
        "regexpString": "^/messages$",
        "classString": "it.unipr.aotlab.blogracy.web.resolvers.MessagesResolver",
        "startingParameters": []
    },
    {
        "regexpString": "^/css/(?:.*)$",
        "classString": "it.unipr.aotlab.blogracy.web.resolvers.StaticFileResolver",
        "startingParameters": ["${project.build.outputDirectory}/static"]
    },
    {
        "regexpString": "^/scripts/(?:.*)$",
        "classString": "it.unipr.aotlab.blogracy.web.resolvers.StaticFileResolver",
        "startingParameters": ["${project.build.outputDirectory}/static"]
    }
]
