[
    {
        "regexpString": "^/$",
        "classString": "it.unipr.aotlab.blogracy.web.resolvers.MainResolver",
        "startingParameters": []
    },
    {
        "regexpString": "^/main$",
        "classString": "it.unipr.aotlab.blogracy.web.resolvers.MainResolver",
        "startingParameters": []
    },
    {
        "regexpString": "^/user/([^/]*)$",
        "classString": "it.unipr.aotlab.blogracy.web.resolvers.UserResolver",
        "startingParameters": []
    },
    {
        "regexpString": "^/messages$",
        "classString": "it.unipr.aotlab.blogracy.web.resolvers.MessagesResolver",
        "startingParameters": []
    },
    {
        "regexpString": "^/css/(?:.*)$",
        "classString": "it.unipr.aotlab.blogracy.web.resolvers.StaticFileResolver",
        "startingParameters": ["/build/config/plugins/blogracy/static"]
    },
    {
        "regexpString": "^/scripts/(?:.*)$",
        "classString": "it.unipr.aotlab.blogracy.web.resolvers.StaticFileResolver",
        "startingParameters": ["/build/config/plugins/blogracy/static"]
    },
    {
        "regexpString": "^/followers$",
        "classString": "it.unipr.aotlab.blogracy.web.resolvers.Followers",
        "startingParameters": []
    }
]
