.commentator
{
    font-weight: bold;
    text-align: center;
    float: left;
}

.commentator p
{
	font-weight: bold;
}

.commentText
{
    clear: both;
    text-align: justify;
}

.commentText p
{
	font-style: italic;
}

.commentsPane
{
    width: 500px;
}

.commentDate
{
    float: right;
    font-style: italic;
}

.blogracyImage
{
    max-height: 400px;
    max-width: 500px;
}
