.commentator
{
    font-weight: bold;
    text-align: center;
    float: left;
}

.commentator p
{
	font-weight: bold;
}

.commentText
{
    clear: both;
    text-align: justify;
}

.commentText p
{
	font-style: italic;
}

.commentsPane
{
    width: 500px;
}

.commentsList {
	width: 345px;
    float: left;
    margin-right: 5px;
}
.likePane 
{
	float: left;
	width: 145px;
	margin-left: 5px;
}

.inputComment 
{
	clear:both;
	
}

.commentDate
{
    float: right;
    font-style: italic;
}

.blogracyImage
{
    max-height: 400px;
    max-width: 500px;
}

.blogracyMedia
{
    max-height: 400px;
    max-width: 500px;
	
}
