<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app 
   xmlns="http://java.sun.com/xml/ns/javaee" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
   version="2.5">
   
   <!-- context config -->
    <context-param>
        <param-name>org.apache.activemq.brokerURL</param-name>
        <param-value>tcp://localhost:61616</param-value>
        <description>The URL of the Message Broker to connect to</description>
    </context-param>
    <context-param>
        <param-name>org.apache.activemq.embeddedBroker</param-name>
        <param-value>true</param-value>
        <description>Whether we should include an embedded broker or not</description>
    </context-param>
   
   <!-- the subscription REST servlet -->
    <servlet>
        <servlet-name>AjaxServlet</servlet-name>
        <servlet-class>org.apache.activemq.web.AjaxServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>MessageServlet</servlet-name>
        <servlet-class>org.apache.activemq.web.MessageServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
        <!--
        Uncomment this parameter if you plan to use multiple consumers over REST
        <init-param>
                <param-name>destinationOptions</param-name>
                <param-value>consumer.prefetchSize=1</param-value>
        </init-param> 
        -->

    </servlet>

    <!-- the queue browse servlet -->
    <servlet>
        <servlet-name>QueueBrowseServlet</servlet-name>
        <servlet-class>org.apache.activemq.web.QueueBrowseServlet</servlet-class>
    </servlet>
	
	 <!-- servlets for the portfolio demo -->
    <servlet>
        <servlet-name>PortfolioPublishServlet</servlet-name>
        <servlet-class>org.apache.activemq.web.PortfolioPublishServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
   
  <servlet>
    <servlet-name>Magnet</servlet-name>
    <servlet-class>net.blogracy.web.Magnet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Magnet</servlet-name>
    <url-pattern>/magnet/*</url-pattern>
  </servlet-mapping>

<servlet id="jsp">
    <servlet-name>jsp</servlet-name>
    <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
    <init-param>
        <param-name>logVerbosityLevel</param-name>
        <param-value>DEBUG</param-value>
    </init-param>
    <init-param>
        <param-name>fork</param-name>
        <param-value>false</param-value>
    </init-param>
    <init-param>
        <param-name>keepgenerated</param-name>
        <param-value>true</param-value>
    </init-param>
     
    <load-on-startup>0</load-on-startup>
    
    <init-param>
        <param-name>development</param-name>
        <param-value>true</param-value>
</init-param>
<init-param>
        <param-name>development</param-name>
        <param-value>true</param-value>
</init-param>
<init-param>
        <param-name>modificationTestInterval</param-name>
        <param-value>60</param-value>
</init-param>
<init-param>
        <param-name>reload-interval</param-name>
        <param-value>-1</param-value>
</init-param>
<init-param>
        <param-name>development</param-name>
        <param-value>false</param-value>
</init-param>
<init-param>
        <param-name>checkInterval</param-name>
        <param-value>60</param-value>
</init-param>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>jsp</servlet-name>
    <url-pattern>*.jsp</url-pattern>
    <url-pattern>*.jspf</url-pattern>
    <url-pattern>*.jspx</url-pattern>
    <url-pattern>*.xsp</url-pattern>
    <url-pattern>*.JSP</url-pattern>
    <url-pattern>*.JSPF</url-pattern>
    <url-pattern>*.JSPX</url-pattern>
    <url-pattern>*.XSP</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
        <servlet-name>AjaxServlet</servlet-name>
        <url-pattern>/amq/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>MessageServlet</servlet-name>
        <url-pattern>/message/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>QueueBrowseServlet</servlet-name>
        <url-pattern>/queueBrowse/*</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>PortfolioPublishServlet</servlet-name>
        <url-pattern>/portfolioPublish</url-pattern>
    </servlet-mapping>
  
    <servlet>
        <servlet-name>fileupload</servlet-name>
        <servlet-class>net.blogracy.web.FileUpload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>fileupload</servlet-name>
        <url-pattern>/fileupload</url-pattern>
    </servlet-mapping>
 
    <filter>
        <filter-name>fileuploadfilter</filter-name>
        <filter-class>org.mortbay.servlet.MultiPartFilter</filter-class>
        <init-param>
            <param-name>deleteFiles</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>
	
	<filter>
      <filter-name>session</filter-name>
      <filter-class>org.apache.activemq.web.SessionFilter</filter-class>
    </filter>
 
    <filter-mapping>
        <filter-name>fileuploadfilter</filter-name>
        <url-pattern>/fileupload</url-pattern>
    </filter-mapping>
	
	<filter-mapping>
      <filter-name>session</filter-name>
      <url-pattern>/*</url-pattern>
    </filter-mapping>
	
	<listener>
        <listener-class>org.apache.activemq.web.SessionListener</listener-class>
    </listener>
 
</web-app>
