<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Blogracy</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <script type="text/javascript" src="scrips/main.js"></script>
</head>
<body>
<div id="page">
    <div id="header">
        <h1>Blogracy</h1>
    </div>
    <div id="main">
        <div id="entry-div">
            <h2>Send Message</h2>


        </div>
        <div id="messages-div">
            <h2>Messages</h2>
        </div>
    </div>
    <div id="sidebar">
        <div id="followees">
            <h2><a href="view.html" name="followees">Followees</a></h2>
            <ul id="followees-ul">

            </ul>
        </div>
        <div id="followers">
            <h2><a href="boom.html">Followers</a></h2>
            <ul id="followers-ul">

            </ul>
        </div>
        <div id="tags">
            <h2><a href="#followees">Tags</a></h2>
            <ul id="tags-ul">

            </ul>
        </div>
    </div>
</div>
</body>
</html>
